body {
    background: #555;
}

a {
    text-decoration: none;
    color: #034A8A;
}

a:hover {
    text-decoration: underline;
}

.header {
    background: #fff;
    overflow: auto;
    padding: 0;
}

.navigation-bar {
    padding: 0 10px;
    background: #023563;
    overflow: auto;
}

.menu nav {
    width: 68%;
    float: left;
    padding: 25px 10px;
}

.menu nav a {
    padding: 25px 10px;
    color: #fff;
}

.menu nav a:hover {
    background: #01213D;
    text-decoration: none;
}

#vote-link {
    display: none;
}

.menu .search {
    width: 28%;
    float: right;
    padding: 0;
}

.menu .search input[type=search] {
    display: inline-block;
    width: 100%;
    box-sizing: border-box;
    padding: 7px 20px;
    margin: 16px 0;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.menu .search input[type=submit] {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    touch-action: manipulation;
    cursor: pointer;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
}

.brand-logo {
    width: 100%;
    margin: 0;
    padding: 0 0;
    background: #97c4ec;
}

.brand-logo img {
    width: 25%;
}

.mini-menu-icon a {
    display: none;
}

.center-img {
    max-width: 1300px;
}

.center-img img {
    width: 100%;
}

.homepage {
    max-width: 1300px;
    min-height: 500px;
    padding: 30px;
    background: #fff;
}

.homepage .sect1 {
    margin: 50px 0;
}

.homepage .sect1 h2, p {
    text-align: center;
}

.sect-title {
    text-align: center;
}

.sect-title h1 {
    margin: 0;
    font-size: 45px;
    color: #c22216;
}

.sect-title h4 {
    margin: 0 0 20px 0;
    color: #c22216;
}

.sect-body {
    background: #eee;
    padding: 20px;
    border-radius: 4px;
}

.btn {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    touch-action: manipulation;
    cursor: pointer;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
}

.btn-cart {
    color: #fff;
    background-color: #01213D;
    border-color: #01213D;
}

.btn-login {
    width: 90%;
    color: #fff;
    background: #023563;
    box-shadow: inset 0 1px 3px #ddd;
    margin-bottom: 10px;
}

.btn-login:hover {
    background: #023563;
    border: 1px solid #023563;
    box-shadow: none;
}

.login-buttons a:hover {
    text-decoration: none
}

.main {
    max-width: 1300px;
    margin: 0 auto;
    overflow: auto;
    background: #fff;
}

.signin-main {
    max-width: 1300px;
    margin: 0 auto;
    overflow: auto;
    background: #023563;
}

.signin-main .navigation-bar {
    background: #01213D;
}

.signin-main .menu nav a {
    text-transform: uppercase;
}

.signin-main .menu nav a:hover {
    background: #023563;
    text-decoration: none;
}

.signin-main .menu nav {
    width: 98%;
    text-align: right;
}

.signin-logo {
    width: 100%;
    margin: 0 auto;
    text-align: center;
}

.signin-logo img {
    width: 70%;
}

.sign-in {
    width: 30%;
    margin: 230px auto;
    text-align: center;
    padding: 20px;
    background: #fff;
    border-radius: 10px;
}

.sign-in-footer {
    width: 100%;
    text-align: center;
}

.signup, .forgot-password {
    width: 50%;
    float: left;
    margin-top: 20px;
}

.failure {
    display: none;
    background: #c22216;
    color: #fff;
}

.failure p {
    padding: 5px 0;
}

#password-compare {
    display: none;
    color: #ff0505;
    background: #ffeaea;
    padding: 5px 10px;
}

#error-message {
    display: none;
    margin: 10px 0;
    padding: 7px 0;
    color: #fff;
    background-color: #d9534f;
    border-color: #d43f3a;
}

#success-message {
    display: none;
    margin: 10px 0;
    padding: 7px 0;
    color: #fff;
    background-color: #5cb85c;
    border-color: #4cae4c;
}

.login-form {
    color: #fff;
    overflow: auto;
    width: 100%;
    height: auto;
    padding: 20px 0;
    margin: 0 auto;
    text-align: center;
}

.login-form h1 {
    margin: 0;
    color: #034A8A;
}

.success {
    display: none;
    color: #fff;
    background: #5cb85c
}

.success p {
    margin: 0;
    padding: 5px 0;
}

#login input[type=text], #login input[type=password], .form-table input[type=text], .form-table input[type=email], .form-table input[type=password] {
    display: block;
    width: 100%;
    box-sizing: border-box;
    padding: 12px 20px 12px 20px;
    margin: 10px 0;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
}

#login input[type=button] {
    width: 100%;
    color: #fff;
    background: #023563;
    box-shadow: inset 0 1px 3px #ddd;
}

.form-table input[type=file] {
    display: block;
    width: 100%;
    box-sizing: border-box;
    padding: 12px 0;
    margin: 10px 0;
    font-size: 14px;
    line-height: 1.42857143;
}

.dashboard {
    padding: 10px;
}

.dashboard .signup-form {
    width: 100%;
}

.form-table {
    width: 100%;
}

.label {
    width: 140px;
    text-align: right;
    padding: 10px;
}

.edit-board, .history-board, .profile-board {
    margin: 0 auto;
    max-width: 1000px;
    overflow: auto;
}

.edit-board .party {
    text-align: center;
    width: 100%;
    padding: 10px 0;
    background: #e6eaef;
}

.edit-board .party .party-logo {
    padding: 10px;
    height: 210px;
    overflow: auto;
}

.edit-board .party .party-logo img {
    display: block;
    max-width: 100%;
    max-height: 100%;
    margin: auto;
    border-radius: 15px;
}

.history-board .vote {
    margin: 10px auto 20px;
    overflow: auto;
    padding: 10px;
    background: #eee;
    border: 1px solid #ccc;
    border-radius: 10px;
}

.history-board .vote .vote-date, .history-board .vote .candidate-details, .history-board .vote .party-details {
    height: 120px;
}

.history-board .vote .vote-date {
    width: 28%;
    float: left;
    text-align: center;
}
.history-board .vote .candidate-details {
    width: 48%;
    float: left;
}

.history-board .vote .candidate-details .candidate-particulars {
    width: 66%;
    float: left;
}

.history-board .vote .candidate-details .candidate-image {
    width: 30%;
    float: left;
}

.history-board .vote .candidate-details .candidate-image img {
    width: 80%;
}

.history-board .vote .party-details {
    width: 18%;
    float: left;
}

.history-board .vote .party-details  img{
    width: 80%;
}

.col-3 {
    width: 31.3%;
    overflow: auto;
    padding: 10px 0;
    margin: 10px 1%;
    float: left;
}

.cur-party-logo img {
    width: 24%;
}

.candidate-form {
    width: 100%;
    margin: 20px 0;
}

.profile-board .profile {
    width: 48%;
    float: left;
    padding: 20px;
    margin: 0 20px 20px 0;
    background: #eee;
    border: 1px solid #ccc;
    border-radius: 10px;
}

.profile-board .profile .personal-details, .profile-board .profile .party-details {
    text-align: center;
    padding: 10px 0;
}

.profile-board .profile .personal-details img {
    width: 30%;
}

.profile-board .profile .personal-details h3 {
    margin: 0;
}

.profile-board .profile .party-details img {
    width: 20%;
}

.profile-board .office {
    width: 40%;
    float: left;
    padding: 20px;
}

.footer {
    max-width: 1300px;
    margin: 0 auto;
    padding: 20px 0;
    text-align: center;
    background: #fff;
}

.footer p {
    margin: 0;
}

@media screen and (max-width: 1200px) {
    .sign-in {
        width: 35%;
    }
}

@media screen and (max-width: 992px) {
    .sign-in {
        width: 50%;
    }
}

@media screen and (max-width: 768px) {
    .sign-in {
        width: 60%;
        margin: 20px auto;
    }
    .history-board .vote .candidate-details .candidate-particulars h4 {
        margin: 0;
    }  
    .history-board .vote .candidate-details .candidate-particulars p {
        margin-top: 0;
        margin-bottom: 5px;
    }
    .history-board .vote .vote-date, .history-board .vote .candidate-details, .history-board .vote .party-details {
        height: 85%;
    }
}

@media screen and (max-width: 600px) {
    .brand {
        display: none;
    }
    .signin-main .menu nav {
        width: 70%;
    }
    .menu a, .menu .search {
        display: none;
    }
    .mini-menu-icon a {
        display: block;
        margin: 10px;
        float: right;
        color: #fff;
        padding: 5px 15px;
        border: 1px solid #fff;
        border-radius: 4px;
    }
    .sign-in {
        width: 75%;
        margin: 20px auto;
    }
    .col-3 {
        width: 46.95%;
    }
    .edit-board .party .party-logo {
        height: 124px;
    }
    
}

@media screen and (max-width: 600px) {
    .navigation-bar {
        padding: 0;
    }
    .menu.responsive {
        position: relative;
    }
    .menu.responsive .mini-menu-icon a {
        position: absolute;
        right: 0;
        top: 0;
    }
    .menu.responsive nav {
        width: 100%;
        padding: 50px 0 10px; 
    }
    .menu.responsive nav a {
      float: none;
      display: block;
      text-align: left;
      padding: 15px 20px; 
    }
    .menu.responsive .search {
        float: none;
        display: block;
        width: 100%;
    }
    .menu.responsive .search input[type=search] {
        width: 96%;
        margin: 10px;
    }
    .history-board .vote {
        width: 70%;
        text-align: center;
    }
    .history-board .vote .vote-date {
        width: 100%;
        float: none;
    }
    .history-board .vote .candidate-details {
        width: 100%;
        float: none;
    }   
    .history-board .vote .candidate-details .candidate-particulars {
        width: 100%;
        float: none;
        margin: 10px 0;
    } 
    .history-board .vote .candidate-details .candidate-image {
        width: 100%;
        float: none;
    }
    .history-board .vote .candidate-details .candidate-image img {
        width: 40%;
    }
    .history-board .vote .party-details {
        width: 100%;
        float: none;
        margin: 10px 0;
    }
    .history-board .vote .party-details img {
        width: 30%;
    }
  }

@media screen and (max-width: 450px) {
    .homepage .sect1 {
        margin: 10px 0;
    }
    .col-3 {
        width: 93.9%;
    }
    .edit-board .party .party-logo {
        height: 124px;
    }
}