<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Politico - Dashboard: Political Parties</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
    <link rel="stylesheet" href="../assets/css/style.css">
    <script src="../scripts/js/main.js"></script>
</head>
<body>
    <div class="main">
        <div class="header">
            <div class="brand">
                <div class="brand-logo">
                    <img src="../assets/images/politico.png" alt="brand-logo">
                </div>
            </div>
            <div class="navigation-bar">
                <div class="menu" id="menu">
                    <nav>
                        <a href="candidates.html">Vote</a>
                        <a href="votehistory.html">Voting History</a>
                        <a href="pswordreset.html">Password Reset</a>
                        <a href="../index.html">Logout</a>
                    </nav>
                    <div class="search">
                        <form action="#">
                            <input type="search" name="search" placeholder="Search">
                        </form>
                    </div>
                    <div class="mini-menu-icon">
                        <a href="javascript:void(0);" onclick="miniMenu()"><i class="fas fa-bars"></i></a>
                    </div>
                </div>
            </div>
        </div>

        <div class="dashboard">
            <div class="edit-board">
                <div class="col-3">
                    <div class="party">
                        <div class="party-logo">
                            <img src="../assets/images/adc.png" alt="adc logo">
                        </div>
                        <h3>ADC</h3>
                        <a href="#" class="btn btn-cart">View</a>
                    </div>
                </div>
                <div class="col-3">
                    <div class="party">
                        <div class="party-logo">
                            <img src="../assets/images/adp.jpg" alt="adc logo">
                        </div>
                        <h3>ADP</h3>
                        <a href="#" class="btn btn-cart">View</a>
                    </div>
                </div>
                <div class="col-3">
                    <div class="party">
                        <div class="party-logo">
                            <img src="../assets/images/apc.png" alt="apc logo">
                        </div>
                        <h3>APC</h3>
                        <a href="#" class="btn btn-cart">View</a>
                    </div>
                </div>
                <div class="col-3">
                    <div class="party">
                        <div class="party-logo">
                            <img src="../assets/images/apga.png" alt="apga logo">
                        </div>
                        <h3>APGA</h3>
                        <a href="#" class="btn btn-cart">View</a>
                    </div>
                </div>
                <div class="col-3">
                    <div class="party">
                        <div class="party-logo">
                            <img src="../assets/images/kowa.jpg" alt="kowa logo">
                        </div>
                        <h3>KP</h3>
                        <a href="#" class="btn btn-cart">View</a>
                    </div>
                </div>
                <div class="col-3">
                   <div class="party">
                       <div class="party-logo">
                            <img src="../assets/images/labour.png" alt="labour logo">
                       </div>
                        <h3>LP</h3>
                        <a href="#" class="btn btn-cart">View</a>
                    </div>
                </div>
                <div class="col-3">
                   <div class="party">
                       <div class="party-logo">
                            <img src="../assets/images/ncp.jpg" alt="ncp logo">
                       </div>
                        <h3>NCP</h3>
                        <a href="#" class="btn btn-cart">View</a>
                    </div>
                </div>
                <div class="col-3">
                   <div class="party">
                       <div class="party-logo">
                            <img src="../assets/images/pdp.jpg" alt="pdp logo">
                       </div>
                        <h3>PDP</h3>
                        <a href="#" class="btn btn-cart">View</a>
                    </div>
                </div>
                <div class="col-3">
                   <div class="party">
                       <div class="party-logo">
                            <img src="../assets/images/upn.png" alt="upn logo">
                       </div>
                        <h3>UPN</h3>
                        <a href="#" class="btn btn-cart">View</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <footer>
        <div class="footer">
            <p>Andela Developer Challenge &copy; 2019</p>
        </div>
    </footer>
</body>
</html>